//通栏/全屏 
.container-fluid {
    width: 100%;
    /* 解决网页最小化布局重叠问题 */
    min-width: 1200px;
}
// 颜色
.f0{
    background: #F0F0F0;
}
// 版心 
.container {
    width: 1200px;
    margin: 0 auto;
}

.f16{
    font-size: 16px;
    font-weight: bold;
}
.f14{
    font-size: 14px;
}
.con{
    font-size: 20px;
    line-height: 60px;
    height: 60px;
    text-align: center;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    font-weight: bold;
    width: 300px;
    

}
.h10{
    height: 50px;
    
}
