//通栏/全屏 
.container-fluid {
    width: 100%;
    /* 解决网页最小化布局重叠问题 */
    min-width: 1200px;
}

// 版心 
.container {
    width: 1200px;
    margin: 0 auto;
}

.f16{
    font-size: 16px;
    font-weight: bold;
}
.f14{
    font-size: 14px;
}
