.acconted {
    
    flex: 6;
    .finor-tw {
        &.active{
            display: block;
        }
        justify-content: center;
        padding-bottom: 20px;
      
        margin-left: 30px;
        border: 1px solid #ccc;
        box-sizing: border-box;

        .fin1 {
            background: #F5F5F5;
            display: block;
            height: 50px;
            line-height: 50px;
            font-size: 18px;
            text-indent: 5px;
        }

        .fin2 {
            text-align: center;
            height: 30px;
            line-height: 30px;
            margin-left: -20px;
            color: #D9534F;
        }

        form {
            width: 500px;
            margin: 0 auto;

            div {
                display: flex;
                height: 30px;

                small {
                    line-height: 30px;
                    height: 30px;
                }

                label {
                    line-height: 30px;
                    height: 30px;
                }

            }
        }

        select {
            width: 300px;
            margin: 0 10px;
            height: 30px;
            font-size: 12px;
        }

        input {
            width: 300px;
            margin: 0 10px;
            height: 30px;
        }

        .buttond {
            text-align: center;

            .btn {
                height: 30px;
                width: 90px !important;
                line-height: 20px;
                font-size: 14px;

                margin: 0 auto !important;


            }
        }

    }
}